/*-----------importing fonts------------*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
/*-----------nav bar--------------------*/
html,body{
    overflow-x: hidden !important;
}
nav{
    background: var(--main-primary-1);
 }
 .main-logo{
     display: block;
    margin:15px auto -10px 30px; 
    width:30px;     
 }
 .wesite-title{
    font-family: 'Comfortaa', cursive !important;
     font-size: 25px !important;
     margin-left: 15px !important;
 }
 .search-bar{
    height:64px !important;
    width:35% !important;
    margin-left: 10% !important;
 }
.search-input{
    background: white !important;
    font-size: 15px !important;
    padding:4px 8px 4px 50px !important;
    height:35px !important;
    background-image: url('../../logos/search.png') !important;
    background-position: 8px 8px !important;
    background-repeat:no-repeat !important;
    margin-top: 13px !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}
.main-nav-icons li{
    margin: auto 10px;
}
#mobile-search{
    display: none;
}
.hidden{
    display: none !important;
}
.fixed{
    position: fixed !important;
}





/*-------------------------side nav bar--------------------*/

    .menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden;
        pointer-events: none;
        z-index: 150;
    }

    .menu--visible {
        pointer-events: auto;
    }

    .app-menu {
        background-color: #fff;
        color: #fff;
        position: relative;
        max-width: 400px;
        width: 90%;
        height: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        -webkit-transform: translateX(-103%);
        transform: translateX(-103%);
        display: flex;
        flex-direction: column;
        will-change: transform;
        z-index: 160;
        pointer-events: auto;            
    }

    .menu--visible .app-menu {
        -webkit-transform: none;
        transform: none;
    }

    .menu--animatable .app-menu {
        transition: all 130ms ease-in;
    }

    .menu--visible.menu--animatable  .app-menu {
        transition: all 330ms ease-out;
    }

    .menu:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        will-change: opacity;
        pointer-events: none;
        transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    }

    .menu--visible.menu:after {
        opacity: 1;
        pointer-events: auto;
    }
    .app-menu {
        width: 300px;
        height: 100% !important;
        box-shadow: none;
        background-color: #fff;
    }
    
    .menu:after {
        width:100% !important;
        height: 100% !important;
    }

    .category-drawer{
        margin-top: 70px;
    }





















/*-----------------footer main section-----------*/
.footer-mainsection-container{
    margin-top: 100px !important;
}
.full-footer-image{
    width:100%;

}
.footer-mainsection-inner{
    width:100%; 
    background: #82e300;
    margin-top: -6px;
}
.footer-body{
    background: rgba(0, 0, 0,0.9);
    font-family: 'Comfortaa', cursive !important;
}
.footer-section-1{
    width:100%;
    padding:50px 60px 0px 60px;
    padding-bottom: 50px;
    color:#9ccc65 ;
}
.footer-header{
    font-size: 20px;
}
.footer-list{
    margin-top: 30px;
}
.footer-first-list li{
    padding:5px 0px;
    cursor: pointer;
}
.footer-first-list li a,.footer-second-list li a{
    text-decoration: none;
    color:#9ccc65 ;
}
.footer-line{
    height: 2px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(68,109,2, 0.5);
}
.footer-address{
    line-height: 30px;
}
.footer-icons{
    font-size: 25px;
    border-radius: 50%;
    border:2px solid #9ccc65 ;
    cursor: pointer;
}
.footer-icons:hover{
    background:#33691e ;
    color: white;
    border-color: white;
    transition: 0.5s;
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform: scale(1.2);

    
}
.icon-1{
    padding:12px 9px;
}
.icon-2{
    padding:12px 11px;
}
.icon-3{
    padding:12px 11px;
}
.footer-icon-text{
    margin-top: 10px;
}
.footer-second-list li{
    display: inline-block !important;
    margin:auto 9px; 
}
.social-icon{
    margin:5px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 50%;
    transition: 0.4s;
}
.social-icon.fb{
    padding:10px 14px;
    border-color: #3B5998;
    background: #3B5998;
    color: white;
}
.social-icon.fb:hover{
    color:#3B5998;
    background:transparent;
}
.social-icon.insta{
    padding:10px 11.5px;
    border-color: #cd486b;
    background: #cd486b;
    color: white;
}
.social-icon.insta:hover{
    color:#cd486b;
    background:transparent;
}





















/*------------secondary footer----------*/
.footer-secondary{
    width:100%;
    background: rgba(0, 0, 0,0.9);
    margin-top: -20px;
    padding-bottom: 40px;
}














/*-------footer copyright container-------------*/
.footer-copyright-container{
    width:100% !important;
    background: var(--main-primary-1);
    margin-top: -20px !important;
}
.footer-copyright-wrapper{
    padding:20px;
    color:white;
    background: rgba(0,0,0,0.6) !important;
}
.footer-inner-sec{
    padding-top:50px !important;
}



























/*----------------------------media query [ 992px ]---------------------------------------*/
@media only screen and (max-width: 992px) {
    
    /*--nav bar---*/
    .nav-item-list li{
        width: 50px !important;
    }
    .wesite-title{
        font-size: 20px;
        margin-left: 0px !important;
     }
     .main-logo{
         display: none;
     }
     .main-nav-icons li{
        margin: auto;
    }
   
    .footer-body{
        width:100% !important;
    }
    .footer-body .m4{
        width:100% !important;
        text-align: center !important;
    }
    .footer-section-1{
        padding:30px 0px 0px 0px !important;
        width:100% !important;
        text-align: center !important;
    }

    .footer-address{
        padding:20px;
    }

    .category-drawer{
        margin-top: 60px;
    }













}

















/*-----------------------------media query [ 750px ]--------------------------------------*/
@media only screen and (max-width: 760px) {
  
  }














/*-----------------------------media query [ 660px ]--------------------------------------*/
@media only screen and (max-width: 600px) {
    
    /*------------nav bar-----------------*/
    .wesite-title{
        font-size: 18px;
     }
    .search-bar-container{
        width:100% !important;
    }
    .search-bar-mobile{
       height:64px !important;
       width: 100% !important;
       
   }
   .search-input{
        width: 85% !important;
        margin-left: 2.7% !important;
    
    }



}

/*-----------------------------media query [ 500px ]--------------------------------------*/
@media only screen and (max-width: 500px) {
    .search-input{
        width: 80% !important;
        margin-left: 2.7% !important;
    
    }
}
