/*==============================Custom css for this page=============================*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


:root {
	--main-primary-1   : #4a148c   ; 
	--main-primary-2   : #6a1b9a   ; 
	--main-secondary-1 : #1a237e  ;
	--main-secondary-2 : #283593 ;       
}

.container-wrapper{
	width:100%
}
.inner-container-wrapper{
	width:98%;
	margin: 1%;
}
.column-wrapper{
	padding:20px !important;
}
.sorting-container{

}
.sorting-header{
	margin-top: 40px;
	
}
.sorting-container p{
	margin-left: 20px;
}
.items-container-holder{
	padding:0px !important;
}
.items-container-holder nav,.items-container-holder nav .nav-wrapper{
	background-color:var(--main-secondary-1) !important;
}









/*------------------item------------------------*/
.main-item-grid{
    padding:0.75rem 20px !important;
}
.item-image-primary{
    margin-top:10%;
    width:70% ;
    margin-left: 15%;
}
.checked{
    color: #ff6f00;
}
.item-name{
    font-family: 'Comfortaa', cursive !important;
    width:100%;
    font-size: 13px;
    padding:5px;
}
.extra-section-in-item{
    padding:0px !important;
}
.add-to-cart-button{
    border-radius: 50%;
    border: none;
    padding: 14px;
    margin-top: 5px;
    font-size: 13px;
    cursor: pointer; 
    background: var(--main-primary-1) !important;
}
.add-to-cart-button:active{
    background: var(--main-primary-1) !important;
}
.add-to-cart-button:hover{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform: scale(1.2);
}


.cashback-tag{
    color: green;
    font-size: 20px;
}
.offer{
    color: green;
    margin-top: -100px !important;
}














@media(max-width:600px){

	.inner-container-wrapper{
		width:100%;
		margin: 0%;
	}
	.item-image-primary{
		margin-top:1%;
		width:50% ;
		margin-left: 25%;
	}
	.main-item-grid{
		width:96% !important;
		margin-left: 2% !important;
		padding:0.75rem 20px !important;
	}
	.extra-section-in-item{
		padding: 10px !important;
	}
	.add-to-cart-button{
		font-size: 20px;
		padding: 20px;
	}
}