<html>
    <style>
            #form{margin-left:25%;margin-right:25%;}

    </style>

<link href="/css/admin/adminreg.css" rel="stylesheet">
<link href="/css/admin/bootstrap.min.css" rel="stylesheet">
<link href="/css/admin/sb-admin.min.css" rel="stylesheet">    <body>
            <form class="form-control" id="form" method="post" action="/calc" >
                <div class="row">
                    <div class="form-group  col-sm-6">
                          <input type="text" name="address" class="form-control">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="form-group col-sm-6">
                        <button type="submit" class="btn">DELIVER</button>
                    </div>

                </div>
                    
            </form>
    </body>
</html>