<!--==========================carousel image==========================-->
<div class="container-fluid">
    <div class="home-page-carousel">
        {{#each carousel}}
            <a href="{{this.poster_link}}" style="cursor:pointer"><img src="{{this.poster_image_link}}" class="responsive-img carousel-image"></a>
        {{/each}}
    </div>
    <div class="crausel-slide-controls">

    </div>
</div>

<div class="card slider-button-container left-side">
    <div class="card-content slider-button center">
        <i class="material-icons slider-button-icon">chevron_left</i>
    </div>
</div>

<div class="card slider-button-container right-side">
    <div class="card-content slider-button center">
        <i class="material-icons slider-button-icon">chevron_right</i>
    </div>
</div>


















