






<!--==========================carousel image==========================-->
<div class="container-fluid">
    <div class="home-page-carousel">
        {{#each carousel}}
            <a href="{{this.poster_link}}" style="cursor:pointer"><img src="{{this.poster_image_link}}" class="responsive-img carousel-image"></a>
        {{/each}}
    </div>
    <div class="crausel-slide-controls">

    </div>
</div>

<div class="card slider-button-container left-side">
    <div class="card-content slider-button center">
        <i class="material-icons slider-button-icon">chevron_left</i>
    </div>
</div>

<div class="card slider-button-container right-side">
    <div class="card-content slider-button center">
        <i class="material-icons slider-button-icon">chevron_right</i>
    </div>
</div>



{{!--+++++++++++ Login-Modal ++++++++++++--}}

<link href="/css/admin/adminreg.css" rel="stylesheet">

<div id="func" class="container main-holder white z-depth-2">
        <ul class="tabs purple darken-2">
            <li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
            <!--<li class="tab col s3"><a class="white-text" href="#register">register</a></li>-->
        </ul>
  
        <div id="login" class="col s12">
            <form class="col s12" id="loginform" method="POST" action="/admin/login">
                <div class="form-container form-holder">
                     <img class="responsive-img login-logo" src="/logos/logo2.png">
                    <p class="center-align" style="color:red">{{error}}</p>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="phone" name="phone" type="number" class="validate">
                            <label for="phone">Phone Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <br>
             
                        <button class="btn login waves-effect waves-light purple darken-2" type="submit" name="action">Login</button>
                        <br>
               
                </div>
            </form>
        </div>
        </div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'></script>
<script src="/js/admin/adminreg.js"></script>













