  <!DOCTYPE html>
  <html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Import materialize.css-->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="/css/defaultpage/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="shortcut icon" type="image/x-icon" href="/logos/logo_bottom.png" />
        <title>The Originals</title>


        <style nonce="{{nonce}}">

            /*    Declaring theme colours   */
            :root {
                --main-primary-1   : #0288d1  ; 
                --main-primary-2   : #e1bee7  ; 
                --main-secondary-1 : #039be5 ;
                --main-secondary-2 : #c5cae9 ;       
            }
            .round-button-corner{
                border-radius: 50px !important;
                background: var(--main-primary-1) ;
            }
            .round-button-corner:hover,.round-button-corner:active{
                 background: var(--main-primary-1);
            }
            .collection-item{
                color: black !important;
            }
        </style>
        <!--slick-->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="/css/base/base.css">
    </head>
    <body>


 
        <!--nav bar-->
            <div class="navbar-fixed" id="nav-bar-controller">
              <nav class="nav-extended">
                <div class="nav-wrapper" id="nav-part-1">
                    <ul id="nav-mobile" class="nav-item-list left">
                        <li><a href="#"><i class="material-icons right menu-icon">menu</i></a></li>
                        <li><img src="/logos/logo_bottom.png" class="responsive-img main-logo"></li>
                         <li><a href="/"><span class="wesite-title">Originals</span></a></li>
                    </ul>
                    <!--<ul class="hide-on-med-and-down">
                        <li class="input-field search-bar">
                            <input type="search" class="search-input autocomplete" id="autocomplete-input" placeholder="Search..">
                        </li>
                    </ul>   -->                     
                    <ul id="nav-mobile" class="nav-item-list right main-nav-icons">
                        <li><a href="/wallet" class="waves-effect waves-light"><i class="material-icons">account_balance_wallet</i></a></li>
                        <li><a href="/cart" class="waves-effect waves-light"><i class="material-icons">shopping_cart</i></a></li>
                        <li><a href="/profile" class="waves-effect waves-light"><i class="material-icons">account_circle</i></a></li>
                        <!--<li class="hide-on-med-and-down"><a href="#" class="waves-effect waves-light"><i class="material-icons">phone_iphone</i></a></li>-->
                    </ul>
                </div>
                <!--<div class="nav-content" id="mobile-search">
                    <div class="search-bar-container">
                        <div class="input-field search-bar-mobile">
                            <input type="search" class="search-input autocomplete" id="autocomplete-input" placeholder="Search..">
                        </div>
                    </div>                    
                </div>-->
              </nav>
            </div>



            <!--side nav bar-->
            <div class="menu">
                <div class="app-menu">
                    <ul class="collection category-drawer">
                        <li class="collection-item">T-Shirts</li>
                        <li class="collection-item">Cards</li>
                        <li class="collection-item">Flowers</li>
                        <li class="collection-item">Blog</li>
                    </ul>
                </div>
            </div>
         





          <script src="/js/admin/jquery.min.js"></script>
            {{{ body }}}







            <footer class="footer-mainsection-container" id="footer_"> 
                <div class="footer-1-wrapper">
                    <img class="responsive-img full-footer-image" src="/logos/footer_image.png">
                    <div class="footer-mainsection-inner">
                        <div class="footer-body row">
                            <div class="col m4">
                                <div class="footer-section-1">
                                    <p class="footer-header">Links</p>
                                    <hr class="footer-line">
                                    <ul class="footer-list footer-first-list">
                                        <li><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp Shop with us</a></li>
                                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp Read our blogs</a></li>
                                        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>&nbsp Meet our team</a></li>
                                        <li><a href="/terms"><i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp Terms of use</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col m4">
                                <div class="center-align footer-section-1">
                                    <p class="footer-header">We Offer</p>
                                    <hr class="footer-line">
                                    <ul class="footer-list footer-second-list">
                                        <li><a><i class="fa fa-handshake-o footer-icons icon-1" aria-hidden="true"></i><br><p class="footer-icon-text">Reliability</p></a></li>
                                        <li><a><i class="fa fa-diamond footer-icons icon-2  " aria-hidden="true"></i><br><p class="footer-icon-text">Quality</p></a></li>
                                        <li><a><i class="fa fa-money footer-icons icon-3" aria-hidden="true"></i><br><p class="footer-icon-text">Refer & Earn</p></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col m4">
                                <div class="right-align footer-section-1 sec-3rd">
                                    <p class="footer-header">Head Office</p>
                                    <hr class="footer-line">
                                    <div class="footer-list footer-address">
                                        Kalyani Government Engineering College,
                                        Kalyani,Nadia,
                                        731202
                                       admin@the-originals.in
                                        <br>
                                       +91 9563152391
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-secondary center-align">
                            <a class="" target="_blank" href="https://www.facebook.com/originals11"><i class="fa fa-facebook social-icon fb"></i></a>
                            <a class="" target="_blank" href="https://www.instagram.com/originals_insta/?hl=en"><i class="fa fa-instagram social-icon insta"></i></a>
                        </div>
                    </div>
                </div>             
            </footer>







                


            <footer class="footer-copyright-container center">
                <div class="footer-copyright-wrapper">
                    Originals - Made with Love
                </div>
            </footer>
       

        






      <!--JavaScript at end of body for optimized loading-->
    
    <script type="text/javascript" src="/slick/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="/js/defaultpage/materialize.min.js"></script>
    <script src="/js/defaultpage/main.js"></script>
     <script src="/push.js"></script>
    </body>
  </html>
        