<html>
    <body>

        <form action="/order" method="post">
        <p>address</p>
            <textarea name="address" ></textarea>
<br>
<p>total_amount</p>
            <input type="tel" name="total_amount">
            <br>

            

            <p>net_amount</p>
            <input type="tel" name="net_amount">
            <br>
            <p>promocode_id</p>
            <input type="text" name="promocode_id">
            <br>
            <p>phone_no</p>
            <input type="tel" name="phone_no">

            <input type="submit">
        </form>
    </body>
</html>