                             
  <link href="/css/user/userreg.css" rel="stylesheet">

    <div class="container main-holder white z-depth-1">
        <ul class="tabs row light-blue darken-1 login-page-tabs">
            <li class="tab col s12"><a class="white-text active" href="#login">RESET PASSWORD</a></li>
        </ul>
  
        <div id="login" class="col s12">
            <form class="col s12" id="password_reset" method="POST" action="/resetpassword">
                               
                <div class="form-container form-holder">
                     <img class="responsive-img login-logo" src="/logos/logo2.png">
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password1" name="password1" type="password" class="validate">
                            <label for="password1">New Password : </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password2" name="password2" type="password" class="validate">
                            <label for="password2">Confirm Password : </label>
                        </div>
                    </div>
                         <input id="otp" name="otp" value={{otp}} class="validate" type="hidden">
                    <br>
             
                        <button class="btn login waves-effect waves-light  round-button-corner" type="submit" name="action">Change Password</button>
                      

                         

                </div>
            </form>
            
        </div>
        
        
       
    </div>

    <script src="/js/admin/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    {{!-- <script src="/js/defaultpage/materialize.min.js"></script> --}}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'></script>
<script src="/js/user/userreg.js"></script>


