<link type="text/css" rel="stylesheet" href="/css/wallet/wallet.css">


<div class="container">
    <div class="wallet-wrapper card">
       <div class="wallet-inner">
           <div class="wallet-amount">
               <div class="amount valign-wrapper">
                   <span>&#8377 {{balance}}</span>
               </div>
           </div>
           <div class="wallet-body">
               <div class="wallet-header">
                   Your Wallet Points
               </div>
               <div class="transactions">
                   <a class="btn">Your Transactions</a>
                   <ul class="collection">
                        <li class="collection-item avatar">
                            <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                            <span class="title">- &#8377 300</span>
                            <p>ORDER ID : <br>
                                DATE : 
                            </p>
                        </li>
                            <li class="collection-item avatar">
                            <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                            <span class="title">+ &#8377 300</span>
                            <p>ORDER ID : <br>
                                DATE : 
                            </p>
                        </li>
                            <li class="collection-item avatar">
                            <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                            <span class="title">+ &#8377 300</span>
                            <p>ORDER ID : <br>
                                DATE : 
                            </p>
                        </li>
                    </ul>
               </div>
           </div>
       </div>
    </div>
</div>