<link type="text/css" rel="stylesheet" href="/css/wallet/wallet.css">


<div class="container">
    <div class="wallet-wrapper card">
       <div class="wallet-inner">
           <div class="wallet-amount">

           </div>
       </div>
    </div>
</div>