
/*-----------carousel image and dots -----------------------*/
.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.home-page-carousel{
    width:100%;
}
.carousel-image{
    width:100% !important;
}
.crausel-slide-controls{
    width:100% !important;
    position: relative;
    top:-60px;
}
.crausel-slide-controls .crausel-custom-dots{
   text-align: center;
}
.crausel-slide-controls .crausel-custom-dots li{
    margin: 0 0 0 .4em;
    display: inline-block;
    list-style: none;
}
.crausel-slide-controls .crausel-custom-dots .dot{
    display: block;
    width: 10px;
    height: 10px;
    text-decoration: none;
    background-color: LightGray;
    border: 1.5px solid DimGray;
    border-radius: 50%;
    cursor: pointer;
}
.crausel-slide-controls .crausel-custom-dots .dot .string {
    position: absolute;
    left: -99999px;
    line-height: 0;
    opacity: 0;
}
.crausel-slide-controls .crausel-custom-dots .slick-active .dot{
    background-color: var(--main-primary-1);
}
.crausel-slide-controls .crausel-custom-dots .dot:hover,
.crausel-slide-controls .crausel-custom-dots .slick-active .dot:hover{
    background-color: var(--main-primary-1);
}







/*--------------------carousel button---------------*/
.center{
    margin:0 !important;
    padding:0 !important;
    text-align: center !important;
}
.slider-button-container{
    width:50px;
    height:120px;
    position: absolute;
    cursor: pointer;
    background: var(--main-primary-1);
}
.left-side{
    left:0px;
    border-radius:0px 50% 50% 0px;
}
.right-side{
    right:0px;
    border-radius:50% 0px 0px 50%;
}
.slider-button-icon{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}





/*--------------------------referal holder-------------------------*/
.referal-poster{
    width:99%;
    margin-left: 0.5%;
    margin-top: -50px;
}
.referal-poster img{
    width:100%;
}
.refer-earn-btn{
    width:15% !important;
    margin-top:-50px;
}

























/*---------------------------trending holder--------------------------*/
.trending-wrapper{
    width:80%;
    margin-left: 10%;
    margin-top: 50px;
}
.button-explore{
    border-radius: 50px;
    background: var(--main-primary-1) !important;
    color: #FFFFFF;
    font-size: 15px !important;
    transition: all 0.5s;
    vertical-align:middle;
}
.explore-button-colour{
    background-color:var(--main-primary-1) !important; 
    width: 70%;
}
.explore-button-colour:active{
    background-color:var(--main-primary-1) !important; 
}
.button-explore:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.button-explore span {
    display: inline-block; 
    position: relative;
    transition: 0.5s;
  }
.button-explore span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.button-explore:hover span {
    padding-right: 18px;
  }
  
  .button-explore:hover span:after {
    opacity: 1;
    right: 0;
  }









/*---------------------item holders----------------------*/
.few_item_slider{
    background-color: #e1f5fe;
}
.item-list-header{
    width:30%;
    margin-left: 35%;
    padding:15px 20px;
    margin-bottom: -100px;
    margin-top: 100px;
    z-index:3000;
}
.item-list-header-name{
    font-size: 25px;
}


.main-item-section-wrapper{
    width:99%;
    margin: auto 0.5%;
    /*padding:50px auto;*/
}
.main-item-section-wrapper .card{
    box-shadow: none !important;
}
.item-row{
    width:90%;
    margin: 5%;
    padding-top: 50px;
    
}
.main-item-grid{
    padding:0.75rem 20px !important;
}
.item-image-primary{
    margin-top:10%;
    width:70%;
    margin-left: 15%;
}
.cardd{
    -webkit-transition:-webkit-box-shadow .25s;
    transition:-webkit-box-shadow .25s;
    transition:box-shadow .25s;
    transition:box-shadow .25s, 
    -webkit-box-shadow .25s;
    -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.item-star{
    margin-top: -10px;
}
.checked{
    color: #ff6f00;
}
.item-name{
    font-family: 'Comfortaa', cursive !important;
    width:100%;
    font-size: 13px;
    padding:5px;
}
.extra-section-in-item{
    padding:0px !important;
}
.add-to-cart-button{
    border-radius: 50%;
    border: none;
    padding: 13px;
    margin-top: 15px;
    font-size: 13px;
    cursor: pointer; 
    background: var(--main-primary-1) !important;
}
.add-to-cart-button:active{
    background: var(--main-primary-1) !important;
}
.add-to-cart-button:hover{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform: scale(1.2);
}
.add-to-cart-button i{
    font-size: 16px;
}

.item-list-footer{
    width:15%;
    margin-left:42.5%; 
    margin-top: -75px;
    color:black;
    padding:20px;
}
.item-list-footer a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.cashback-section-default{
    margin-top: -10px;
    margin-bottom: 10px;
}
.cashback-holder{
    display: none;
}
.cashback-tag{
    color: green;
    font-size: 14px;
    
}
.offer{
    color: green;
    margin-top: -100px !important;
}
#item_image_zoom{
    transition: all .2s ease-in-out;
}
#item_image_zoom:hover{
    transform: scale(1.2);
}























@media only screen and (max-width: 992px) {


    /*-------slider button-----------*/
    .slider-button-container{
        display: none !important;
    }





    /*-----------main-item wrapper------------------------*/
    .main-item-section-wrapper{
        width:100%;
    }
    .item-row{

    }



    .refer-earn-btn{
        width:80% !important;
        margin-top: 0px !important;
    }

    .item-list-header-name,.item-list-header-name{
        font-size: 20px;
    } 
    .item-list-header{
        width:70%;
        margin-left:15%; 
        margin-bottom: -45px;
    }
    .item-list-footer{
        width:70%;
        margin-left:15%; 
        margin-top: -45px;
    }
    
  }
































