page-forgetpassword {
    .forgetpassword-body{
        background-image: url('../assets/imgs/bg5.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .scroll-content{
       
        align-content: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ion-card.card{
        width:40%;
        margin-left: 30%;
        box-shadow: none;
        background: rgba(0,0,0,0.6);
        border-radius: 5px;
    }
    ion-card-header.card-header{
        color:#fff;
    }
    .list > .item-block:first-child{
        border: medium none;
    }
    .item{
        margin-bottom: 10px;
        border:medium none;
        background:transparent;


        .text-input{
            color:white !important;
        }
        input::-moz-placeholder{
            color:#fff !important;
        }
        input:-moz-placeholder{
            color:#fff !important;
        }
        
        *::-webkit-input-placeholder{
            color:#fff !important;
        }
        *:-ms-input-placeholder{
            color:#fff !important;
        }
        *:-moz-placeholder{
            color:#fff !important;
        }
        ion-input{
            border-bottom: 1px solid rgba(218, 214, 214, 0.301);
        }
        .forgetpassword-button{
            padding-top:20px;
            padding-bottom: 20px;
        }
    }



        @media(max-width:768px){
            ion-card.card{
                width:90%;
                margin:5%;
            }
            
        
        }
}
