<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="hbutton" name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>
          Registration
      </span>
      
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-card-content>
      <form [formGroup]="registrationForm">
        <ion-list>

            <ion-item>
              <ion-label floating>Phone Number</ion-label>
              <ion-input formControlName="phone" type="number" ></ion-input>
            </ion-item>
            <div *ngIf="registrationForm.controls['phone'].hasError('required') && registrationForm.controls['phone'].touched">
              <p>Phone number is required !</p>
            </div>
          
            <ion-item>
              <ion-label floating>Email Id</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <div *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched">
                <p>Email is required !</p>
            </div>

            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>

            <ion-item class="gender">
                <ion-label>Gender</ion-label>
                <ion-select class="gender-option" formControlName="gender" >
                  <ion-option value="female">Female</ion-option>
                  <ion-option value="male">Male</ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="date">
                <ion-label>Date of Birth</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dob" ></ion-datetime>
            </ion-item>
          
            <ion-item>
                <ion-label floating>Default Address</ion-label>
                <ion-input type="text" formControlName="address"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>


            <ion-item>
                <button ion-button round full class="register-button" [disabled]="!registrationForm.valid" (click)="register()" >Register</button>
            </ion-item>
          </ion-list>

        </form>

    </ion-card-content>

</ion-content>
