<link type="text/css" rel="stylesheet" href="/css/payment/payment.css">
<div class="container">
    <div class="row card">
        <div class="s-header">
            <i class="red-checked  material-icons z-depth-3">add</i>
            <p class="thank-you">Your payment is successful.But there is some problem with your wallet point. So we could not process your order !</p>                
            <a href="mailto:admin@the-originals.in?subject='Payment successful but order not placed'"  class="btn">Contact Admin</button>              
        </div>
    </div>
</div>
