<form method="POST" action="/order/place">
<label for="address_id">Address_id</label>
    <input type="text" id="address_id" name="address_id"><br>
    <label for="promocode">Promocode</label>
    <input type="text" id="promocode" name="promocode">
    <input type="submit" >
</form>