
<link type="text/css" rel="stylesheet" href="/css/cart/cart.css">
    <div class="cartpage-wrapper">
        

        <div class="row">
            <div class="col s12 m12 l8 xl8 no-margine no-padding" id="cartitemsection">
                <div class="card left-section">
                    <div class="row">
                        <div class="col s10 m10 offset-s1 offset-m1 l4 xl4">
                            <img src="" class="responsive-img cart-item-image">
                        </div>
                        <div class="col s10 m10 offset-s1 offset-m1 l8 xl8">
                            <p class="desc-item">Description of Item</p>
                            <p><span>Item Id : </span>itm-10002</p>
                            <p><span>Size : </span> M</p>
                            <p>Quantity :</p>
                            <p>
                            <a class="btn" id="quantity">1</a>
                            </p>
                            <p class="price">Rs. 415 </p>
                            <p class="discount">Rs. 300</p>
                            <p>
                                <a class="btn remove waves-effect waves-light" href="#">Remove</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col s12 m12 l4 xl4 no-margine no-padding" >
                <div class="card right-section" id="addresssection">
                    <h6 class="address-section-hdr">Choose an Address</h6>
                    <hr>
                    <div class="row">
                        <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 card Addresses">
						    <p>
                                <label>
                                    <input class="with-gap" name="group3" type="radio" checked />
                                    <span>
                                        room no 206, Hotel treebo house inn<br>
                                        bs-100, basai<br>
                                        Noida, Utter Pradesh,<br>
                                        731202<br>
                                        +919563152391
                                    </span>
                                </label>
                            </p>
                        </div>
                        <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 card Addresses">
                                <p>
                                    <label>
                                        <input class="with-gap" name="group3" type="radio" checked />
                                        <span>
                                            room no 206, Hotel treebo house inn<br>
                                            bs-100, basai<br>
                                            Noida, Utter Pradesh,<br>
                                            731202<br>
                                            +919563152391
                                        </span>
                                    </label>
                                </p>
                        </div>
                        <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 new-address center-align">
                                <a class="waves-effect waves-light btn new-address"><i class="material-icons left">add</i>New Address</a>
                        </div>
                    </div>
                </div>


                <div class="card right-section" id="billingsection">
                    <h6 class="address-section-hdr">Billing</h6>
                    <hr>
                    <div class="row billing-wrapper">

                        <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 new-address left-align">
                            <p class="billing-large-text"><span>Price : </span>1000</p> 
                            <p class="billing-medium-text"><span>G.S.T : </span>1000</p>
                            <p class="billing-medium-text"><span>Delevary Charge : </span>1000</p> 
                            <hr>
                            <p class="billing-large-text"><span>Total : </span>1000</p> 
                        </div>
                    
                        <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 new-address center-align">
                            <div class="row">
                                <div class="input-field col s8 m8 l8 xl8">
                                    <input id="promocode" type="text" class="validate">
                                    <label for="promocode">have promocode</label>
                                </div>
                                <div class="col s4 m4 l4 xl4">
                                    <a class="btn btn-hldr">Apply</a>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1 new-address center-align">
                            <a class="waves-effect waves-light btn new-address"><i class="material-icons left">payment</i>Proceed to pay</a>
                        </div>

                </div>

                </div>





            </div>

        </div>




        <div class="checkout-wrapper card z-depth-5 waves-effect waves-light hide-on-large-only valign-wrapper">
            <div class="checkout-wrapper-btn gotoaddress">
                <h6 class="btn-inner">SELECT ADDRESS &nbsp &nbsp<span class="btn-inner-icon">>></span></h6>
            </div>
        </div>

   

          
        
    </div>





