<link type="text/css" rel="stylesheet" href="/css/payment/payment.css">
<div class="container">
    <div class="row card">
        <div class="s-header">
            <i class="green-checked  material-icons z-depth-3">cached</i>
            <p class="thank-you">Your payment is processing!</p>                
            <button  onclick='goToCart()' class="btn">Go to homepage </button> <br>             
            <button  onclick='refresh()' class="btn">Update Order Status </button>              
        </div>
    </div>
</div>

<script>
    
function goToCart(){
    window.location.replace("/");
}
function refresh()
{
    location.reload(true);
}
</script>