<link type="text/css" rel="stylesheet" href="/css/payment/payment.css">
<div class="container">
    <div class="row card">
        <div class="s-header">
            <i class="green-checked material-icons z-depth-3">check_circle</i>
            <p class="thank-you">Thank You, Order Placed !</p>                
        </div>
        <div class="s-body">
            <div class="container">
                <div class="body-head">
                    <p>Order Details <a class="btn-floating waves-effect waves-light deep-purple accent-1"><i class="material-icons">file_download</i></a></p>
                </div>
                <hr>
                <div class="body-body">
                    <p class="basic">ORDER STATUS : <span></span></p>
                    <p class="basic">ORDER ID : <span></span></p>
                    <p class="basic">PAYMENT ID : <span></span></p>
                    <p class="basic">TIME STAMP : <span></span></p>
                    <p>ITEMS</p>
                    <table class="striped centered table">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>&#8377 100</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>&#8377 300</td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>&#8377 400</td>
                            </tr>
                            
                        </tbody>                       
                    </table>
                    <p>TOTAL : <span>&#8377 800 </span></p>
                    <p>DELEVERY CHARGE : <span>&#8377 40 </span></p>
                    <p>PAID: <span>&#8377 840 </span></p>
                    <div class="download-c">
                        <a class="waves-effect waves-light btn download"><i class="material-icons right">file_download</i>Download Invoice</a
                    </div>
                    
                </div>
                
               
            </div>
        </div>
    </div>
</div>
</div>