<link type="text/css" rel="stylesheet" href="/css/payment/payment.css">
<div class="container">
    <div class="row card">
        <div class="s-header">
            <i class="green-checked material-icons z-depth-3">check_circle</i>
            <p class="thank-you">Your payment is failed!</p>                
            <button href="/cart" class="btn ">Go to cart </button>              
        </div>
    </div>
</div>
