
	  <!-- link type="text/css" rel="stylesheet" href="terms.css"  media="screen,projection"/ -->

      <!--Let browser know website is optimized for mobile-->
     
		<style>
			h1{
				text-align:center;
				font-family:Impact;
				font-size:40px;
				color:#333;
				margin:0px;
				padding:0px;
				opacity:0.8;
			}

			.container{
				width:90%;
				margin: 0px auto;
				padding-left:5%;
				padding-right:5%;
				padding-bottom:5%;
				height:100%;
			}

			p{
				opacity:0.6;
				font-size:100%;
			}

			h4{
				font-size:130%;
				opacity:0.7;
			}
			h5{
				font-size:100%;
				opacity:0.6;
			}
			@media screen and (max-width:600px){
				body{
					font-size:80%;
				}
			}
		</style>
	  
    </head>

    <body>
	
		</br></br>
		<h1>Privacy Policy</h1>
		</br>
		
		<div class ="container">
			
			
			
			
			
			<h4> Personal Information </h4>
			
			<p>
			
				Originals DOES NOT trade or sell your personal information in any manner, except as specified herein or if you express your consent towards the same.
				
			</p>

			<h5>
				Personal Information provided by you is used only:
			</h5>
			
			
			<p>
			
				
				(i) To facilitate your use of the website;</br></br>
				(ii) To respond to your concerns, inquiries or address your requests for information about the various services we offer;</br></br>
				(iii) To provide you with information about Company’s services/products and send you information, materials and offers from the Company;</br></br>
				(iv) To send you important information regarding the website, changes to Company’s Terms of Service and various policies and/or other miscellaneous information;</br></br>
				(v) To send you surveys and marketing communications that the Company believes may be of interest to you;</br></br>
				(vi) To personalize your experience on our website;</br></br>
				(vii) If you purchase any content or avail of any service from the website, to complete and fulfill Your purchase, for example, to have your payments processed, communicate with you regarding Your purchase and provide you with related customer service;</br></br>
				(viii) To administer product downloads;</br></br>
				(ix) To conduct internal reviews and data analysis for the Website (e.g., to determine the number of visitors to specific pages within the website);</br></br>
				(x) To improve the services, content and advertising on the website;</br></br>
				(xi) To protect the integrity of the website; and</br></br>
				(xii) To comply with legal requirements and disclosures provided under the laws of India.</br></br>


			</p>




			<h4> Security  </h4>
			
			<p>
				
				
				The security of your personal information is very important to the Company. We have aligned physical, administrative and technical safeguards designed to protect your personal information from unauthorized access. In addition, the Company uses standard security protocols and mechanisms to exchange the transmission of sensitive data such as credit card details. In the event of any breach of your personal information, Originals will notify you of it by email or fax and will restore the integrity of the data system.


			</p>
			
			
			
			<h4> Advertising  </h4>
			
			<p>
			
				
				Originals uses some third parties to administer a limited set of advertisements on our website and portals. During this process, no personal information is leaked. However, aggregate profile information, such as user community, may be used in the selection of advertising to make sure that it has relevance to the user. On some banner ads, an embedded pixel may be present, and while it does not associate with a cookie or other personal profile information, it may return session connection information that allows advertisers to better determine how many individual users have clicked on the ad banner.
			
			</p>
			
			
			
			<h4> User Discretion  </h4>
			
			<p>
			
				You can always choose not to provide information and in such cases, if the information required is mandatory, you will not be able to avail those services, features or contents.</br></br>

You can add or update your personal information on a regular basis. When you update information, the Company will keep a copy of the prior version for its records.</br></br>

The Company may, if you prefer, send direct advertisement mailers to you at the address given by you. You have the option to opt-out of this direct mailer by clicking at the unsubscribed link option attached to e-mail. The Company respects your privacy and if you do not want to receive any kind of communications from Originals or have any grievances to share, please report to Originals.</br></br>
			
			</p>
			
			
			<h4> Important Disclaimer </h4>
			
			<p>
			
				Although the Company provides full security and secrecy to your personal information, we urge you to be careful with very sensitive information and do not share it with any third party claiming to be related to the Company on separate emails/phone calls etc. The Company disclaims any and all liabilities towards any such claims that have arisen due to your own negligence or willful misconduct and the Company takes no responsibility of the same.
			</br></br></br></br>

			</p>
			
			
			
			
			
			
			
			
			
		
		
		
		</div>
	
