
	  <!-- link type="text/css" rel="stylesheet" href="terms.css"  media="screen,projection"/ -->

      <!--Let browser know website is optimized for mobile-->
      
		<style>
			h1{
				text-align:center;
				font-family:Impact;
				font-size:40px;
				color:#333;
				margin:0px;
				padding:0px;
				opacity:0.8;
			}

			.container{
				width:90%;
				margin: 0px auto;
				padding-left:5%;
				padding-right:5%;
				padding-bottom:5%;
				height:100%;
			}

			p{
				opacity:0.6;
				font-size:100%;
			}

			h4{
				font-size:130%;
				opacity:0.7;
			}
			@media screen and (max-width:600px){
				body{
					font-size:80%;
				}
				h1{
					font-size:115%;
				}
			}
		</style>
	  
   
	
		</br></br>
		<h1>Cancellation and Refund</h1>
		</br>
		
		<div class ="container">
		
			<ul>
				<li>
					<p>
			
						After successful placement of order, the order can be modified or cancelled until it is out for shipping. Once the order is out for shipping, the order cam't be modified or cancelled.
						</br></br>
			
					</p>
				</li>
				
				<li>
					<p>
				
						On cancellation, the refund will be released by Originals within 5-6 days. However in some cases it may take longer by your bank to process the transaction. We try our best for you to have a smooth experience, however, Originals is not liable for any delay due to onforcing circumstances or mental agony caused.						</br></br>
				
					</p>
				</li>
			
				<li>
					<p>
			
				
						In case of any manufacturing defect, the issue needs to be posted in the given address. The refund may take a maximum of 48-72 hours. It must be noted that the refund is possible if and only if the tag is intact. Should we find the tag not intact, it must be noted that <b>no refund</b> shall be released by Originals.
						</br></br>
			
					</p>
				</li>
			</ul>
			
		
		
		
		</div>
	