 <html>
    <head>
      
	  <!-- link type="text/css" rel="stylesheet" href="terms.css"  media="screen,projection"/ -->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
			h1{
				text-align:center;
				font-family:Impact;
				font-size:40px;
				color:#333;
				margin:0px;
				padding:0px;
				opacity:0.8;
			}

			.container{
				width:90%;
				margin: 0px auto;
				padding-left:5%;
				padding-right:5%;
				padding-bottom:5%;
				height:100%;
			}

			p{
				opacity:0.6;
				font-size:100%;
			}

			h4{
				font-size:130%;
				opacity:0.7;
			}
			@media screen and (max-width:600px){
				body{
					font-size:80%;
				}
			}
		</style>
	  
    </head>

    <body>
	
		</br></br>
		<h1>Terms of Use</h1>
		</br>
		
		<div class ="container">
		
		
		
			<p>
			
				
				Access to and use of Originals and its products and services available through the website are subject to the following terms, conditions and notices ("Terms of Service"). By viewing through the Terms of Service and using the services provided by our website (www.originals.com), you agree to all Terms of Service along with the Privacy Policy on our website, which may be updated by us from time to time. Please check this page regularly to take notice of any changes we may have made to the Terms of Service.
				
				</br></br>We withhold the right to review and withdraw or revise the services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or this entire Website.
			
			</p>
			
			
			
			
			<h4> Services  </h4>
			
			<p>
			
				Originals deals with the online retail of T-shirts offered at great values to the consumer. Being a member of this organisation allows the customer to purchase a variety of products. Upon placing an order, Originals shall ship the product to you and be entitle to its payment for the service.
				
			</p>
			
			
			<h4> Third Party Websites and Content  </h4>
			
			<p>
			
				We provide links on our website for sharing our content on Facebook, Instagram and other such third party website. These are only meant for sharing and/or listing purpose and we are not responsible for any content of a third party website listed on our website and disclaim all our liabilities arising out of any or all third party websites.
				</br></br>We disclaim all liabilities and take no responsibility for the content that may be posted on such third party websites by the users of such websites in their personal capacity on any of the above mentioned links for sharing and/or listing purposes as well as any content and/or comments that may be posted by such user in their personal capacity on any official webpage of Originals on any social networking platform.
			
			</p>
			
			
			
			<h4> Privacy  </h4>
			
			<p>
			
				Our Privacy Policy incorporated by reference in these Terms of Service, sets out how we will use personal information you provide to us. By using this Website, you agree to be bound by the Privacy Policy, and warrant that all data provided by you is accurate and up to date.
			
			</p>
			
			
			
			<h4> Exactness of Product  </h4>
			
			<p>
			
				The images of the items available on the website are for illustrative purposes only. Although every effort has been made by us to display the colours accurately, we cannot guarantee that your computer's display of the colours accurately reflect the colour of the items. Items may vary slightly from those images. All sizes and measurements of items are approximate; however we put in all efforts to ensure they are as accurate as possible. We take all reasonable care to ensure that all details, descriptions and prices of items are as accurate as possible.
			
			</p>
			
			
			<h4> Pricing </h4>
			
			<p>
			
				We ensure that all details of prices appearing on the website are accurate, however errors may occur. If we discover an error in the price of any goods which you have ordered, you will be informed of this as soon as possible. In case we are unable to contact you we will treat the order as cancelled. If you cancel and you have already paid for the goods, you will receive a full refund.				
				</br></br>Additionally, prices for items may change from time to time without notice. However, these changes will not affect orders that have already been dispatched. The price of an item includes VAT (or similar sales tax) at the prevailing rate for which we are responsible as a seller. Please note that the prices listed on the website are only applicable for items purchased on the website and not through any other source.
			
			</p>
			
			
			
			
			<h4> Payment  </h4>
			
			<p>
			
				Upon receiving your order a standard pre-authorization check is carried on your payment card to ensure the availability of sufficient funds to fulfill the transaction. Goods will not be dispatched until this pre-authorization check has been completed. Your card will be debited once the order has been accepted. For any further payment related queries, please check our FAQs on Payment Mode.
			
			</p>
			
			
			
			
			<h4>  Delivery </h4>
			
			<p>
			
				Various options will be given to you for delivery of items during the order process. The options available to you will vary depending on the location of your order. An estimated delivery time is shown on the order summary page. On placing your order, you will receive an email containing a summary of the order and also the estimated delivery time to your location. In some cases, delivery may take longer due to unforeseen circumstances. In such cases, we will proactively reach out to you by e-mail and SMS. However, we will not be able to compensate for any mental agony caused due to delay in delivery.
			
			</p>
			
			
			
			
			<h4> Returns & Refund </h4>
			
			<p>
			
				If you change your mind about any items purchased you can return them to us. For more information on Returns and Refund, please refer to our Return Policy
			
			</p>
			
			
			
			
			
			<h4> Intellectual Property Rights </h4>
			
			<p>
			
				All and any intellectual property rights in connection with the products shall be owned absolutely by the Company.
			
			</p>
			
			
			
			
			<h4> Law and Jurisdiction  </h4>
			
			<p>
			
				These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts at West Bengal.
			
			</p>
			
			
			
			<h4> Indemnification  </h4>
			
			<p>
			
				You agree to indemnify, defend and hold harmless the Company, its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages or costs arising from your use of this website, your breach of these Terms of Service, or infringement of any intellectual property right.
			
			</p>
			
			
			
			
			
			<h4> Violation & Termination  </h4>
			
			<p>
			
				You agree that the Company may, in its sole discretion and without prior notice, terminate your access to the website and block your future access if we determine that you have violated these Terms of Service or any other policies. If you or the Company terminates your use of any service, you shall still be liable to pay for any service that you have already ordered till the time of such termination.
				</br></br>
			</p>
			
			
			
			
			
		
		
		
		</div>
	
	</body>