
      
	  <!-- link type="text/css" rel="stylesheet" href="terms.css"  media="screen,projection"/ -->

      <!--Let browser know website is optimized for mobile-->
      
		<style>
			h1{
				text-align:center;
				font-family:Impact;
				font-size:40px;
				color:#333;
				margin:0px;
				padding:0px;
				opacity:0.8;
			}

			.container{
				width:90%;
				margin: 0px auto;
				padding-left:5%;
				padding-right:5%;
				padding-bottom:5%;
				height:100%;
			}

			p{
				opacity:0.6;
				font-size:100%;
			}

			h4{
				font-size:130%;
				opacity:0.7;
			}
			@media screen and (max-width:600px){
				body{
					font-size:150%;
				}
				h1{
					font-size:115%;
				}
			}
		</style>
	  
 

		</br></br>
		<h1>WALLET POLICY*</h1>
		</br>
		
		<div class ="container">
		
			<ul>
				<li>
					<p>
			
						Cashback amount on each order(if applicable on the product) will enter into Originals wallet only.						</br></br>
			
					</p>
				</li>
				
				<li>
					<p>
				
						The wallet points can be used only for purchase made at the-originals.in and not on any other website and/or platform.
						
					</p>
				</li>
			
				<li>
					<p>
			
						The wallet points can't be redeemed on any other website and/or platform.
						
			
					</p>
				</li>


				<li>
					<p>
			
						The wallet points can be used only by the use of promo code generated and provided by Originals. Originals reserve all rights for handling of wallet points and by using our website you agree to this policy.
						
			
					</p>
				</li>


				<li>
					<p>
			
						In case of cancellation of order, the wallet points once used shall not be returned to the wallet.
						
			
					</p>
				</li>


				<li>
					<p>
			
				
						Each promo code gives the accessibility of using certain amount from the wallet provided you have points more than or equal to it in the wallet. In case wallet has points less than the amount accessible through the promo code, all of the wallet points will get used for the order.

			
					</p>
				</li>



				<li>
					<p>
			
						The wallet points earned from cashbacks can be used only upto 90 days from the day of earning them. The share of points, after a validity of 90 days shall automatically get exhausted from the wallet after 90 days.
					</br></br></br></br></br>
			
					</p>
				</li>
			</ul>
			
		
		
		
		</div>
	
