/*-----------importing fonts------------*/

 @import url('https://fonts.googleapis.com/css?family=Comfortaa'); 
/*@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'),url(/assets/fonts/comfortaa.woff2) format('woff2'), url(https://fonts.gstatic.com/s/comfortaa/v12/1Ptsg8LJRfWJmhDAuUs4TYFq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  */





.cartpage-wrapper{
    width:90%;
    margin-left: 5%;
    margin-top: 50px;
}
.cart-item-image{
    width:100%;
    padding: 30px;
}
.left-section{
    padding:10px;
}
.desc-item{
    font-size: 1.4em;
}

.price{
    color:green;
    font-size: 1.3em;
}
.discount{
    font-size: 1em;
    color:red;
    text-decoration: line-through;
}
.remove{
    
    text-decoration: none;
    color: white;
    background: var(--main-secondary-1);

}
.remove:hover, .remove:active{
    text-decoration: none;
    color: white;
    background: var(--main-secondary-1);
}
#plus, #minus{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    cursor: pointer;
}
#quantity{
    background: white;
    color: black;
}
.amount{
    font-weight: bold;
}

.right-section{
    padding:10px !important;
}
.address-section-hdr{
    padding:10px;
}
.address-cont{
    padding:15px !important;
}
.new-address{
    margin: 5px 0px;
}
.btn-hldr{
    margin-top: 17px;
    margin-left: -40px;
}
.billing-large-text{
    font-size: 23px;
}
.billing-medium-text{
    font-size: 15px;
}
.checkoutbtn{
    position: fixed;
    top:100px;
    right:100px;
    padding:0px 25px;
    background: var(--main-secondary-1);
    color:white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.checkoutbtn1{
    display: none;
}





















@media screen and (max-width: 992px){
    .cartpage-wrapper{
        width:100%;
        margin-left: 0%;
        margin-top: 50px;
        padding:0px !important;
    }
    #addresssection, #billingsection{
        margin-top: -50px;
    }
    .no-padding{
        padding:0px !important;
    }
    .no-margine{
        
        margin: 0px !important;
    }

    .checkout-wrapper{
        position: fixed;
        bottom: 0px;
        width:100%;
        height:50px;
        left:0;
        z-index: 3;
        background: #4caf50;
        margin-bottom: 0px;
    }
    .btn-inner{
        width:100%;
        text-align: center;
    }
    .b1 , .b2{
        width:50% !important;
        float:left;
        height:50px;
    }
    .b1{
        border-right:1px solid white;
    }
    .btn-inner-icon{
        font-size: 24px;
        margin-top: 5px !important;
    }
    #addresssection,#billingsection{
        display: none;
    }



}


@media screen and (max-width: 600px){
    .cart-item-image{
        width:80%;
        margin-left: 10%;
        padding: 30px;
    }
    .checkoutbtn{
        display: none;
    }
    .checkoutbtn1{
        display: block;
        width:100%;
        height:50px;
        text-align: center !important; 
        background-color: var(--main-secondary-1) !important;
        color: white;      
    }
    .checkoutbtn1 p{
        margin-top:20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }



}






















